.welcome > .welcome-image {
  width: 100%;
  display: block;
  padding: 10px 0px;
  margin-bottom: 3%;
 }
 .logo > .logo-image {
  max-width: 10%;
  min-height: 100px;
  min-width: 100px;
  float: left
  padding: left 1px
 }

 body {
  background-image: linear-gradient(to top, #608899 0%, #417b7b,#0a5076 100%);
  height: 100%;
  margin: 3%;
  background-repeat: round;
  font-family: 'Lucida Grande';
}

.navigation {
  display:block;
  text-align:left;
  color: #111b1f
}
p1 {
  margin-left: 39px;
  font-size: 120%;
}

@media (max-width: 900px) {
  form {
    width: 90%;
  }
}

